* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fceebd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.container {
  background: #fceebd;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
}

.movie-selection {
  text-align: center;
}

.movie-selection h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 200px;
}

.movie-item {
  background: #f9f9f9;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  width: 180px;
  text-align: center;
}

.movie-item img {
  width: 100px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.movie-item button {
  background-color: #28a745;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

#pagination {
  margin-top: 20px;
  text-align: center;
}

#pagination button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 2px;
}

#pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#details {
  margin-top: 20px;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  display: none;
  text-align: left;
}

#details img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.infos p {
  margin-bottom: 20px;
  margin-left: 10px;
}
